@model SchoolPlannerViewModel

@{
    string[] ColumnsHeaders = new string[] {
        ""
        ,"Monday"
        ,"Tuesday"
        ,"Wednesday"
        ,"Thursday"
        ,"Friday"
        ,"Saturday"
};

    string[] RowsHeaders = new string[] {
        "8:45-10:20"
        ,"10:35-12:10"
        ,"12:25-14:00"
        ,"14:45-16:20"
        ,"16:35-18:10"
        ,"18:25-20:00"
        ,"20:15-21:50"
    };
}

<div class="form-group">
    Room
    @{
        @Html.DropDownListFor(m=>m.currentRoom, (SelectList)ViewBag.Rooms, new { style = "width:60px", onchange="window.location.href='Planner/UpdateRoom?room='+this.value" })
    }
</div>
<br/>
<div class="table-responsive col-container" id="schoolTable">
    <table class="table table-bordered">
        <thead>
            <tr bgcolor="#E8E9EB">
                @{
                    foreach (var col in ColumnsHeaders)
                    {
                        <th>
                            @col
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{
                    for (var slot = 0; slot < RowsHeaders.Length; slot++)
                    {
                        <th bgcolor="#E8E9EB">
                            @RowsHeaders[slot]
                            @{
                                for (var day = 1; day < ColumnsHeaders.Length; day++)
                                {
                                <td class="entryData">
                                        @{
                                            var currentGroup = @Model.GetGroup(@Model.currentRoom, slot, @ColumnsHeaders[day]);

                                        <a href=@Url.Action("EditEntry", new {room = @Model.currentRoom, slot = @slot, day =
                       @ColumnsHeaders[day]})>
                                            <button class="table-entry" type="button">@currentGroup</button>
                                        </a>
                                        }
                                </td>
                                }
                            }
                    <tr></tr>
                    </th>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>
<div>
    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 w-220px">
        <li><a class="dropdown-item rounded-2" href=@Url.Action("EditDictionary", new {dictionary = "Teachers"})>Teacher</a></li>
        <li><a class="dropdown-item rounded-2" href=@Url.Action("EditDictionary", new {dictionary = "Lessons"})>Lessons</a></li>
        <li><a class="dropdown-item rounded-2" href=@Url.Action("EditDictionary", new {dictionary = "Groups"})>Groups</a></li>
        <li><a class="dropdown-item rounded-2" href=@Url.Action("EditDictionary", new {dictionary = "Rooms"})>Rooms</a></li>
    </ul>
</div>
