@model asp_book.Models.Class

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayofClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayofClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeofClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeofClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeofClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingofClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingofClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomofClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomofClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>